@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NewRocker';
  src: url('/fonts/NewRocker-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Super Funky';
  src: url('/fonts/SuperFunky-lgmWw.ttf') format('truetype');
}
